@page "/"
@inject GrpcChannel Channel
@using Google.Protobuf.WellKnownTypes
@using PeakSWC.RemotePhotinoNET
<!--
TODO rename this to Protos
--> 
@using Grpc.Core;

<h3>Active Clients</h3>

<ul>
    @foreach (var client in activeClients)
    {
        <li> <a href="@client.Url">@client.HostName</a></li>
    }
</ul>
@code {
    private IList<ClientResponse> activeClients = new List<ClientResponse>();

    protected override void OnInitialized()
    {
        var client = new ClientIPC.ClientIPCClient(Channel);

        var response =  client.GetClients(new());
        var stream = response.ResponseStream;

        var t = Task.Run(async () =>
        {
            await foreach (var clientResponse in response.ResponseStream.ReadAllAsync())
            {
                if (clientResponse.AddClient)
                    activeClients.Add(clientResponse);
                else
                    activeClients.Remove(activeClients.First(x => x.Id == clientResponse.Id));

                await InvokeAsync(StateHasChanged);
              
            }
        });
       
    }
}